<!DOCTYPE html>
<html>
    <head>
        <title>Employee Tabel</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="nav">
            <h1>👨‍💻Employee Mangement System</h1>
            <ul>
                <li>🏡Home| </li>
                <li> ℹ️About</li>
            </ul>
        </div>
        <div class="box">
            <h3 class="one">
                <button>
                    <a href="{{url_for('add')}}">👤 Add Employee</a>
                </button>    
            </h3>
            <input class="two" type="search">
            <h3 class="search">🔎Search</h3>
            <hr>
            <table class="row" border="1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                {% for data in datas %}
                <tr>
                    <td>{{data.ID}}</td>
                    <td>{{data.Name}}</td>
                    <td>{{data.Department}}</td>
                    <td>{{data.Salary}}</td>
                    <td>{{data.City}}</td>
                    <td><a>Update</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>