<!DOCTYPE html>
<html>
    <head>
        <title>Employee Tabel</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="nav">
            <h1>👨‍💻Employee Mangement System</h1>
            <ul>
                <li>🏡Home| </li>
                <li> ℹ️About</li>
            </ul>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-success">
                        ✅ {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="box">
            <div class="top-bar">
                <a class="add-btn" href="{{url_for('add')}}">
                    👤 Add Employee
                </a>
                <form class="search-form" action="/search" method="GET">
                    <input
                        type="text"
                        name="search"
                        placeholder="Search Employee..."
                        class="search-input">
                    <button class="search-btn">
                        🔍 Search
                    </button>
                </form>

            </div>
            <hr>
            <table class="row" border="1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                {% for data in datas %}
                <tr>
                    <td>{{data.ID}}</td>
                    <td>{{data.Name}}</td>
                    <td>{{data.Department}}</td>
                    <td>{{data.Salary}}</td>
                    <td>{{data.City}}</td>
                    <td>
                        <a class="edit-btn" href="{{url_for('update',id=data.ID)}}">✏️ Edit</a>
                        <a class="delete-btn" href="{{url_for('delete',id=data.ID)}}">🗑 Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>