<!DOCTYPE HTML>
<html>
    <head>
        <title>Add Employee</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <h1>Add user</h1>
        <form action=""  method="POST">
            <label>Name</label>
            <input type="text" name="name" value="{{datas.Name}}" required>
            <label>Department</label>
            <input type="text" name="department" value="{{datas.Department}}" required>
            <label>Salary</label>
            <input type="number" name="salary" value="{{datas.Salary}}" required>
            <label>City</label>
            <input type="text" name="city" value="{{datas.City}}" required>
            <input type="submit" value="Update employee">
        </form>
    </body>
</html>